<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AMA TEAmigos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    .container1 {
      min-height: 120vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200vh;
    }

    h6 {
      font-weight: bold;
      color: #ffff;
    }
  </style>

</head>

<body>
  <div class="container-fluid"
    style="background: linear-gradient(90deg, #36c6c6, #000080); position: fixed; z-index: 1; ">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary" title="Clique para ser enviado a página principal." style="color: white; font-size: 30px;">AMA TEAmigos</a></li>
        <li><a href="/calendar" class="nav-link px-2" style="color: white;"><i class="bi bi-calendar2"
              style="font-size: 30px; color: white; position: absolute; margin-left: 660px;"></i></a></li>
      </ul>

      <div class="col-md-3 text-end">
        <form class="mb-lg-0 " role="search">
          <input type="search" id="searchBox" class="form-control form-control-dark text-bg-dark" style="margin-top: 10px;"
            placeholder="Pesquisar pelo nome..." aria-label="Search">
        </form>
        <a class="btn btn-success mb-3" href="/add" style="margin-top: 5px;">Adicionar</a>
      </div>
    </header>
  </div>

  <div class="container1" style="position: fixed;" >
    <div class="row">
      <div class="col-12">
        <table class="table table-striped pb-3" id="dataTable">
          <thead class="table-dark">
            <tr>
              <th scope="col">
                <h6>Nome</h6>
              </th>
              <th scope="col">
                <h6>Editar</h6>
              </th>
              <th scope="col">
                <h6>Deletar</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < links.length; i++){ %>
            <tr>
              <td>
                <p class="card-title fw-bold">
                  <%= links[i].cadName %>
                </p>
              </td>
              <td>
                <a class="btn btn-info mr-3" href="/edit/<%= links[i]._id %>">Editar</a>
              </td>
              <td>
                <form method="POST" action="/?_method=DELETE">
                  <input name="id" value='<%= links[i]._id %>' hidden>
                  <button class="btn btn-danger" type='submit'>Excluir</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('searchBox').addEventListener('input', function () {
        const searchQuery = this.value.toLowerCase();
        const rows = document.querySelectorAll('#dataTable tbody tr');

        rows.forEach(row => {
            const name = row.querySelector('td p').textContent.toLowerCase();
            if (name.includes(searchQuery)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
  </script>

</body>

</html>
